
/*
.card .card-image img{
  border:1px solid red;
}

.card .card-content h3{
  color:blue;
}

.card .card-content p{
  font-weight:bold;
}
*/

//sass特有特性可以自訂變數
$barbie-pink: #E0218A;

.card{
  /* & 表示parent */
   .card-image{
    img{
      border: 1px solid red;
    }
  }
  
   .card-content{
    background-color: $barbie-pink;
    h3{
      color:blue;
    }
    p{
      font-weight:bold;
    }
  }
}
